.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main-wrapper {
  display: flex;
  flex-direction: column; }

.loader {
  margin: 100px; }

/* ################ NAV ################ */
.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DCF3EA;
  box-shadow: 0 1px 5px #888888; }
  .nav .logo {
    margin: 10px;
    height: 40px;
    font-size: 30px; }
  .nav .nav-add-button {
    margin: 10px;
    height: 40px; }

/* ################ CATEGORIES ################ */
@media only screen and (max-width: 650px) {
  .post-list .post-in-list {
    flex-direction: column; }
  .category-wrapper {
    flex-direction: column; }
  .categories {
    flex-direction: column; } }

.category-wrapper {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  .category-wrapper .categories {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  .category-wrapper .category-title {
    align-self: flex-start;
    font-size: 20px;
    margin: 10px; }
  .category-wrapper .category-link {
    min-width: 200px;
    margin: 10px;
    height: 100px;
    line-height: 100px;
    font-size: 22px;
    background: #1CD8D2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    text-align: center; }

/* ################ Votes Score ################ */
.voting-buttons .votes .up-vote-button, .voting-buttons .votes .down-vote-button {
  border-radius: 500%; }

/* ################ POST LIST CONTROLS ################ */
.post-list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .post-list-controls .post-count {
    padding: 10px; }
  .post-list-controls .sort-selector {
    height: 10px;
    margin: 10px;
    text-align: center; }

/* ################ POST LIST ################ */
.post-list {
  display: flex;
  flex-direction: column;
  width: 100%; }

.post-in-list {
  border-radius: 10px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
  border: 3px solid grey; }
  .post-in-list .media {
    display: flex; }
    .post-in-list .media .votes {
      width: 100px;
      align-self: center; }
      .post-in-list .media .votes .vote-count {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px; }
      .post-in-list .media .votes .voting-buttons {
        display: flex;
        align-items: center;
        justify-content: center; }
        .post-in-list .media .votes .voting-buttons .up-vote-button, .post-in-list .media .votes .voting-buttons .down-vote-button {
          border-radius: 1000px;
          height: 40px; }
    .post-in-list .media .post-content {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: space-around; }
      .post-in-list .media .post-content .author {
        align-items: center;
        padding: 5px 0 0 0; }
      .post-in-list .media .post-content .title {
        line-height: 30px;
        font-size: 25px;
        padding: 0;
        color: #363636; }
      .post-in-list .media .post-content .category-tag {
        margin: 10px; }
  .post-in-list .button-container {
    max-width: 200px;
    height: 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around; }
    .post-in-list .button-container .edit-button {
      width: 80px;
      font-size: 12px; }
    .post-in-list .button-container .delete-button {
      width: 80px;
      font-size: 12px; }

/* ################ NEW POST BUTTON AT BOTTOM OF POST LIST ################ */
.new-post-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  .new-post-link .post-list-add-button {
    width: 200px; }

/* ################ Delete Modal ################ */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(183, 249, 190, 0.75) !important;
  z-index: 5; }

.ReactModal__Content.ReactModal__Content--after-open {
  width: 300px !important;
  margin: auto !important;
  height: 242px !important; }

/* ################ FOOTER ################ */
.footer {
  background-color: #f5f5f5;
  padding: 3rem 1.5rem 1.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer p {
    text-align: center; }
  .footer .icon {
    width: 50px;
    height: 50px; }

.git-link {
  height: 20px;
  width: 20px;
  padding: 10px; }

/* ################ Post Form ################ */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form-container .error {
    margin-left: 10px;
    color: red; }
  .form-container h1 {
    margin: 20px; }
  .form-container .post-form {
    display: flex;
    flex-direction: column;
    margin: 20px; }
    .form-container .post-form .field {
      margin: 10px;
      width: 80%;
      height: 30px; }
    .form-container .post-form .text-area {
      margin: 10px;
      width: 80%;
      height: 80px; }
    .form-container .post-form .label {
      margin-bottom: 10px; }
    .form-container .post-form .form-buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse; }

/* ################ Post View ################ */
.post-view {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px; }
  .post-view .votes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px; }
    .post-view .votes .up-vote-button, .post-view .votes .down-vote-button {
      border-radius: 1000px;
      height: 40px; }
    .post-view .votes h1 {
      font-size: 60px;
      background-color: #ecf0f1;
      padding: 10px 30px 10px 30px;
      margin: 10px;
      border-radius: 10px; }
  .post-view .main-content {
    width: 100%;
    margin-top: 10px; }
  .post-view .post-body {
    background-color: #F5F5F5;
    padding: 20px 40px 20px 40px;
    font-size: 20px; }
  .post-view .meta-data {
    display: flex; }
    .post-view .meta-data .category-tag {
      height: 22px;
      margin-left: 10px; }
    .post-view .meta-data .buttons {
      margin-left: 10px; }
      .post-view .meta-data .buttons .delete-button, .post-view .meta-data .buttons .edit-button {
        font-size: 10px; }

/* ################ Comment ################ */
.comment-in-list {
  display: flex;
  flex-direction: row;
  border: 3px solid #D9D4D4;
  border-radius: 10px;
  margin: 10px;
  padding: 10px; }
  .comment-in-list .votes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100px; }
    .comment-in-list .votes .vote-count {
      margin: 0; }
    .comment-in-list .votes .voting-buttons {
      flex-direction: column; }
      .comment-in-list .votes .voting-buttons .up-vote-button, .comment-in-list .votes .voting-buttons .down-vote-button {
        border-radius: 1000px; }
    .comment-in-list .votes h1 {
      font-size: 40px;
      background-color: #ecf0f1;
      padding: 5px 15px 5px 15px;
      margin: 10px;
      border-radius: 10px; }
  .comment-in-list .meta-data {
    display: flex;
    margin-left: 10px; }
    .comment-in-list .meta-data .buttons {
      display: flex;
      align-items: flex-start; }
      .comment-in-list .meta-data .buttons .delete-button, .comment-in-list .meta-data .buttons .edit-button {
        width: 33px; }
  .comment-in-list .comment-body {
    font-size: 15px;
    line-height: 20px; }

/* ################ Comment List ################ */
.comment-list-controls {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .comment-list-controls .post-count {
    padding: 10px; }
  .comment-list-controls .sort-selector {
    height: 10px;
    margin: 10px;
    text-align: center; }

.new-comment-input .post-button {
  margin-top: 10px; }

/* ################ Category Header ################ */
.category-header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1CD8D2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .category-header h1 {
    font-size: 100px; }

/* ################ Not Found ################ */
.not-found-hero {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CAD818; }

/* ################ Media Queries ################ */
@media only screen and (max-width: 650px) {
  .post-list .post-in-list {
    flex-direction: column;
    justify-content: flex-end; }
    .post-list .post-in-list .voting-buttons {
      flex-direction: column; }
      .post-list .post-in-list .voting-buttons .down-vote-button, .post-list .post-in-list .voting-buttons .up-vote-button {
        margin: 5px; }
    .post-list .post-in-list .button-container {
      flex-direction: row;
      height: 30px; }
  .post-view {
    flex-direction: column; }
    .post-view .delete-button {
      margin-top: 10px; }
    .post-view .votes {
      flex-direction: row; }
      .post-view .votes h1 {
        font-size: 20px; }
    .post-view .comment-in-list .delete-button {
      margin-top: 0px; }
    .post-view .comment-in-list .votes {
      width: 40px;
      flex-direction: column;
      justify-content: flex-start; }
      .post-view .comment-in-list .votes .down-vote-button, .post-view .comment-in-list .votes .up-vote-button {
        margin: 5px; }
      .post-view .comment-in-list .votes .voting-buttons {
        justify-content: center; }
      .post-view .comment-in-list .votes h1 {
        font-size: 16px;
        padding: 10; }
  .category-wrapper {
    flex-direction: column; }
  .categories {
    flex-direction: column; } }
