
.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.loader {
    margin: 100px;
}


/* ################ NAV ################ */

.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DCF3EA;
    box-shadow: 0 1px 5px #888888;
    .logo {
        margin: 10px;
        height: 40px;
        font-size: 30px;
    }
    .nav-add-button {
        margin: 10px;
        height: 40px;
    }
}

/* ################ CATEGORIES ################ */
@media only screen and (max-width: 650px) {
    
    .post-list .post-in-list {
        flex-direction: column;
    }

    .category-wrapper { 
        flex-direction: column;
    }
    .categories {
       flex-direction: column;
    }
    
}

.category-wrapper {
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .categories {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .category-title {
        align-self: flex-start;
        font-size: 20px;
        margin: 10px;
    }
    .category-link {
        min-width: 200px;
        margin: 10px;
        height: 100px;
        line-height: 100px;
        font-size: 22px;
        background: #1CD8D2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        border-radius: 10px;
        text-align: center;
    }
}

/* ################ Votes Score ################ */

.voting-buttons {
    .votes{
        
        .up-vote-button, .down-vote-button {
            border-radius: 500%;
        }

    }
}

/* ################ POST LIST CONTROLS ################ */

.post-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .post-count {
        padding: 10px;
    }

    .sort-selector {
        height: 10px;
        margin: 10px;
        text-align: center;
    }
}

/* ################ POST LIST ################ */



.post-list {
    
    display: flex;
    flex-direction: column;
    width: 100%;

   
}


.post-in-list {
    border-radius: 10px;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
    border: 3px solid grey;

    .media {
        display: flex;

        .votes {
            width: 100px;
            align-self: center;

            .vote-count {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
            }
            .voting-buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                .up-vote-button, .down-vote-button {
                    border-radius: 1000px;
                    height: 40px;
                }
            }
        }
        .post-content {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: space-around;
            .author {
                align-items: center;
                padding: 5px 0 0 0;  
            };
            .title {
                line-height: 30px;
                font-size: 25px;
                padding: 0;
                color: #363636;
            }
            .category-tag {
                margin: 10px;
            }
    
        }
        
    
    }

    .button-container {
        max-width: 200px;
        height: 100px;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: space-around;
        

        .edit-button {
            width: 80px;
            font-size: 12px;
        }
        .delete-button {
            width: 80px;
            font-size: 12px;
        }
        
    };
    
}

/* ################ NEW POST BUTTON AT BOTTOM OF POST LIST ################ */

.new-post-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .post-list-add-button {
        width: 200px;
    }
}

/* ################ Delete Modal ################ */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(195, 115, 115, 0.75) !important;
    z-index: 5;
  }
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 300px !important;
    margin: auto !important;
    height: 242px !important;
  }



/* ################ FOOTER ################ */

.footer {
    background-color: #f5f5f5;
    padding: 3rem 1.5rem 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
    }
    .icon {
        width: 50px;
        height: 50px;
    }
}

.git-link {
    height: 20px;
    width: 20px;
    padding: 10px;
}

/* ################ Post Form ################ */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

    h1 {
        margin: 20px;
    }
    .post-form {
        display: flex;
        flex-direction: column;
        margin: 20px;

        .field {
            margin: 10px;
            width: 200px;
            height: 30px; 
            
        }

        .text-area {
            margin: 10px;
            width: 200px;
            height: 80px;
        }
        
        .label {
            margin-bottom: 10px;
        }

        .form-buttons {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
           
        }
    }
    
}

/* ################ Post View ################ */

.post-view {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;

    .votes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 200px;
        .up-vote-button, .down-vote-button {
            border-radius: 1000px;
            height: 40px;
        }
        h1 {
            font-size: 60px;
            background-color: #ecf0f1;
            padding: 10px 30px 10px 30px;
            margin: 10px;
            border-radius: 10px;
        }
    }

    .main-content {
        width: 100%;
        margin-top: 10px;
        
    }

    .post-body {
        background-color: #F5F5F5;
        padding: 20px 40px 20px 40px;
        
        border-left: 5px solid grey;
    }

    .meta-data {
        display: flex;
        
        .category-tag {
            height: 22px;
            margin-left: 10px;
        }
        
        .buttons {
            margin-left: 10px;
            
            .delete-button, .edit-button {
                font-size: 10px;
            }
        }


    }


}




/* ################ Comment ################ */

.comment-in-list {
    display: flex;
    flex-direction: row;
    border: 3px solid #D9D4D4;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    .votes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100px;
        
        .vote-count {
            margin: 0;
        }
        .voting-buttons {
            flex-direction: column;

            .up-vote-button, .down-vote-button {
                border-radius: 1000px;
            }
        }
        h1 {
            font-size: 40px;
            background-color: #ecf0f1;
            padding: 5px 15px 5px 15px;
            margin: 10px;
            border-radius: 10px;
        }
    }

    .meta-data {
        display: flex;
        margin-left: 10px;
        
        .buttons {
            display: flex;
            align-items: flex-start;
            .delete-button, .edit-button {
                width: 33px;
                
            }
        }
    }

    .comment-body {
        font-size: 15px;
        line-height: 20px;
    }
}



/* ################ Comment List ################ */

.comment-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .post-count {
        padding: 10px;
    }

    .sort-selector {
        height: 10px;
        margin: 10px;
        text-align: center;
    }
}
 
.new-comment-input {


    .post-button {
        margin-top: 10px;
    }
}


/* ################ Category Header ################ */

.category-header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1CD8D2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    h1 {
        font-size: 100px;
    }
}

/* ################ Not Found ################ */
.not-found-hero {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CAD818;  
    
    
    h1 {
       
    }
}



/* ################ Media Queries ################ */


@media only screen and (max-width: 650px) {

    
    .post-list .post-in-list {
        flex-direction: column;
        justify-content: flex-end;
        .voting-buttons {
            flex-direction: column;
            .down-vote-button, .up-vote-button {
                margin: 5px;
            }
        }
        .button-container {
            flex-direction: row;
            height: 30px;
        }

    }

    .post-view {
        flex-direction: column;
        .delete-button {
            margin-top: 10px;
        }
        .votes { 
            flex-direction: row;
    
    
            h1 {
            font-size: 20px;
            }
        }
        .comment-in-list {
            .delete-button {
                margin-top: 0px;
            }
            .votes {
                width: 40px;
                flex-direction: column;
                justify-content: flex-start;
                .down-vote-button, .up-vote-button {
                    margin: 5px;
                }
                .voting-buttons {
                    justify-content: center;
                }
                h1 {
                    font-size: 16px;
                    padding: 10;
                    }
                
            }
        }
    }

    
    .category-wrapper { 
        flex-direction: column;
    }
    .categories {
       flex-direction: column;
    }
    
    
    
}